@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase")

.navbar-collapse{
	color: white;
	font-size: 30px;
	margin: 5px;
}
.navbar-nav{
	background-color: black;
	color: white;
	
}
.nav-link{
	color: black;
}
.jumbotron{
	text-align: center;
	background-color:  #290210;
	color: white;
	background-size: 100%;
	width: 
}
.img-fluid{
	width:60px;
	float: left;
	margin-left: 10px;
}
h1{
	text-align: center;
	border-top: -30px;
	font-family: 'Cormorant Unicase', serif;
}
h2{
	text-align: center;
	font-size: 30px;
}
h3{
	text-align: center;
	font-size: 30px;
}	
h4{
	text-align: center;
	font-size: 30px;
}
.logo{
	float: right;
}
li{
	list-style: none;
}
p{
	margin-top: 0 auto;
	text-align: justify;
	font-size: 20px;
}
.d-block{
	width: 80%;
	height: 600px;
}
.row{
	
}
iframe{
	width: 100%;
	height: 30%;
}
.display-4{
	float: : center;
}
.container{
	background-color: #290210;
	width: 1300px;
	height: 600px;
	border-top: 10px;
	max-width: 1600px;
	max-height: 1200px;
	background-size: 100%;
}
.row{
	background: #C5E5EB;
	width: 1200px;
	height: 550px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-top: 20px;
}
.carousel-slide{
	width: 1250px;
	height: 550px;
}
