body{
	background-color: #290210;

}

.row{
	clear: both;
}
.nav-link{
	color: black;
	font-size: 20px;
	margin-left: 100px;
	float: right;
}

.jumbotron{
	text-align: center;
	background-repeat: no-repeat;
	border-top: 0 auto;
	background-color: #3C071C;
}
.lead{
	color: black;
}
.display-4{
	color: white;
	text-align: center;
	margin-top: 5px;
}
.img-fluid{
	width:70px;
	float: left;
	margin: 5px;
	border-top: 0;
}
.d-block{
	width: 1000px;
	height: 300px;
}
p{
	color: white;
    text-align: center;

}
.card{
	border-color: #eeeeee;
	border-radius: 20px;
	border-width: 10px;
	margin-left: 10px;

}
.card-body{
	text-align: center;

}
.btn-primary{
	background-color:#290210;
	color: white;
	border-color: #d8d8d8;
	margin-left: 45%;
}

.section-1{
	margin: 30px 30px 30px 30px;
}

.section-2{
	margin: 20px 30px 20px 30px;
}

.section-3{
	margin: 20px 30px 20px 30px;
}

.logo{
	width: 80px;
	margin-left: 60%;
	padding-bottom: 10px;
}
.copyright{
	background-color: #f2f2f2;
	height: 54px;
	text-align: center;
	margin: 10px;
}	
h6{
	text-align: left;
}