@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase")

body{
	background-color: #075507;
}
.navbar-collapse{
	color: white;
	font-size: 30px;
	margin: 5px;
}
.navbar-nav{
	color: white;
	position: fixed;
}
.nav-link{
	color: black;
}
.jumbotron{
	text-align: center;
	background-image: url(assets/imagenes/fundo lo Marcoleta.JPG);
	background-color: #52AB52;
	color: black;
	height: 550px;
}
.img-logo{
	width:70px;
	float: left;
	margin-left: 60%;
	float: left;
	margin: 5px;
}
h1{
	text-align: center;
	border-top: -30px;
	font-family: 'Cormorant Unicase', serif;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
h4{
	text-align: center;
}
.display-4{
	text-align: center;
	color: white;
}
.img{ 
	width:60px;
	float: left;
	margin-left: 60%;
	float: left;
	margin: 20px;
}
li-1{
	list-style: none;
	font-size: 20px;
	text-align: justify;
}
li{
	list-style: none;
	font-size: 20px;
}
p{
	text-align: justify;
	font-size: 20px;
}
iframe{
	width: 100%;
	height: 100%;
}
.row{
	background-color:#F9F97E;
	margin: 0 auto;
	margin-top: -32px;
	margin-bottom: 0px;
	max-width: 1600px;

}
.container{
	background-color: #52AB52;
	width: 100%;
	height: 600px;
	margin-left: 0px;
	max-width: 1600px;

}
.container-contenedor{

	margin-top: -0 auto;
}
