@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase")

.navbar-collapse{
	background-color: blue;
	color: white;
	font-size: 30px;
	margin: 5px;
}
.nav-justify{
	background-color: #F39DAE;
	color: black;
}
.navbar-nav{
	background-color: blue;
	color: white;
	position: fixed;
}
.nav-link{
	color: black;
}
.jumbotron{
	text-align: center;
	background-color: #52AB52;
	color: white;
	background-size: 100%;
	height: 750px;
}
.img-fluid{
	width:70px;
	float: left;
	margin-left: 60%;
	float: left;
	margin: 5px;
}
h1{
	text-align: center;
	border-top: -30px;
	font-family: 'Cormorant Unicase', serif;
}
h2{
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
}
h3{
	text-align: center;
	font-size: 30px;
}	
h4{
	text-align: center;
	font-size: 30px;
}
.logo{
	text-align: left;
}
.img-fluid{ 
	max-width: 100%; height: auto;
}
li{
	list-style: none;
}
p{
	text-align: justify;
	font-size: 20px;
}
.d-block{
	width: 80%;
	height: 500px;
}
.container{
	background-color: #52AB52;
	width: 100%;
	height: 600px;
	max-width: 1600px;
	margin-left: 0px;
}

.row{
	background-color:#F9F97E;
	color: black;
	margin-bottom: 0px;
	margin-top: -32px;
	max-width:1600px;
    margin: 0 auto;
}
iframe{
	width: 100%;
	height: 100%;
}
.card-body{
	float: center;
}
.container-contenedor{
	font-size: 20px;
	margin-top:  0 auto;
	margin-left: 0px;

}
.card{
	font-size: 20px;
}