@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase")

.navbar-collapse{
	background-color: blue;
	color: white;
	font-size: 30px;
	margin: 5px;
}
.nav-justify{
	background-color: #F39DAE;
	color: black;
}
.navbar-nav{
	background-color: blue;
	color: white;
	position: fixed;
}
.nav-link{
	color: black;
}
.jumbotron{
	text-align: center;
	background-color: #3C071C;
	color: white;
	background-size: 100%;
}
.img-fluid{
	width:60px;
	float: left;
	margin-left: 60%;
	float: left;
	margin: 20px;
}
h1{
	text-align: center;
	border-top: -30px;
	font-family: 'Cormorant Unicase', serif;
}
h2{
	text-align: center;
	font-size: 30px;
}
h3{
	text-align: center;
	font-size: 30px;
}	
h4{
	text-align: center;
	font-size: 30px;
}
.logo{
	text-align: left;
}
.img-fluid{ 
	max-width: 100%; height: auto;
}
li{
	list-style: none;
}
p{
	text-align: justify;
	font-size: 20px;
}
.d-block{
	width: 80%;
	height: 500px;
}
.container{
	background-color: #290210;
	width: 100%;
	height: 500px;
	border-top: 10px;
	max-width: 1600px;
	max-height: 1200px;
	background-size: 100%;
}

.row{
	background-color:#E3ECEC;
	color: black;
	width: 1200px;
	height: 450px;
	margin-bottom: 10px;
	margin-left: 40px;
}
iframe{
	width: 100%;
	height: 30%;
}