@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase")

body{
	background-color:#290210; 
	} 
.nav-justify{
	background-color: #F39DAE;
	color: black;
}
.navbar-collapse{
	background-color: black;
	color: white;
	font-size: 30px;
	margin: 5px;
}
.navbar-nav{
	background-color: #C5EBEB;
	color: #F39DAE;
	position: fixed;
}
.nav-link{
	color: black;
}
.jumbotron{
	text-align: center;
	background-image: url(assets/imagenes/muninoche.jpg);
	background-color: #E79DB4;
	background-size: 100%;
	color: black;
	min-height: 700px;
	background-repeat: no-repeat;
	
}
.img-logo{
	width:80px;
	height: 80px;
	float: left;
	margin-left: 60%;
	float: left;
	margin: 5px;
}
.display-4{
	color: white;
	font-family: 'Cormorant Unicase', serif;
}
.lead{
	color: white;
	font-family: 'Cormorant Unicase', serif;
	font-size: 60px;
}
h1{
	text-align: center;
	border-top: -20px;
}
.logo{
	position: relative;
	margin-right: 80%;
	
}
.img-fluid{ 
	max-width: 100%; height: auto;
}

li{
	list-style: none;
}
p{
	text-align: justify;
	font-size: 20px;
}
.img-src{
	width: 10px;
	height: 5px;

}
.row{
	background: #C5E5EB;
}
iframe{
	width: 100%;
	height: 30%;
}
